/* Container for the assets table */
.assets-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
}

/* Styling for the assets text */
.assets-text {
  font-size: 32px;
  font-weight: 700;
}

/* Styling for the assets heading */
.assets-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Styling for the add asset button */
.add-asset-button-container button {
  font-size: 16px;
  cursor: pointer;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 137px;
  height: 33px;
}

.add-asset-button-container button:hover {
  background-color: #80aaff;
}

.logo img {
  width: 150px;
  height: 150px;
  margin-bottom: unset;
  margin-left: 20px;
}

/* Styling for the employee table */
.employee-table {
  width: 100%;
  border-collapse: separate; /* Ensure separate borders for radius to work */
  border-spacing: 0; /* Optional, to control spacing between cells */
  margin-top: 20px;
}

.employee-table th {
  background: #F4F5F7;
  padding: 16px 8px;
  text-align: left;
  margin-left: 20px;
}

.employee-table thead:after {
  content: '';
  display: block;
  height: 20px; /* Adjust the height to your needs */
}

.employee-table thead tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

.employee-table thead tr:first-child th:last-child {
  border-top-right-radius: 15px;
}

.employee-table thead tr:first-child th:first-child {
  border-bottom-left-radius: 15px;
}

.employee-table thead tr:first-child th:last-child {
  border-bottom-right-radius: 15px;
}

.employee-table tbody tr:first-child td:first-child {
  border-top-left-radius: 15px;
}

.employee-table tbody tr:first-child td:last-child {
  border-top-right-radius: 15px;
}

.employee-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.employee-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.employee-table td {
  border-bottom: 1px solid #E0E4EA;
  border-top: 1px solid #E0E4EA;
  padding: 8px;
  text-align: left;
  background: white;
}

.employee-table tr:hover {
  background-color: #f1f1f1;
}

.view-button,
.edit-button,
.delete-button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-button {
  background-color: #4CAF50;
  color: white;
}

.edit-button {
  background-color: #2196F3;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
