.employee-detail-container {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .section-container {
    padding: 10px 0;
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .skill-chip {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
  }
  
  .save-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  