/* Separation.css */
.leaves-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
}

.leaves-text {
  font-size: 32px;
  font-weight: 700;
}

.leaves-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.add-leave-button-container button {
  font-size: 16px;
  cursor: pointer;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px;
  width: 140px;
}

.add-leave-button-container button:hover {
  background-color: #80aaff;
}

.employee-table {
  width: 100%;
  border-collapse: separate; /* Ensure separate borders for radius to work */
  border-spacing: 0; /* Optional, to control spacing between cells */
  margin-top: 20px;
}

.employee-table th {
  background: #F4F5F7;
  padding: 16px 8px;
  text-align: left;
  margin-left: 20px;
}

/* Additional styles for table cells */
.employee-table td {
  border-bottom: 1px solid #E0E4EA;
  border-top: 1px solid #E0E4EA;
  padding: 8px;
  text-align: left;
  background: white;
}

.employee-table tr:hover {
  background-color: #f1f1f1;
}

.view-button, .edit-button, .delete-button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-button {
  background-color: #4CAF50;
  color: white;
}

.edit-button {
  background-color: #2196F3;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}
